:root {
  --accent-color: rgb(255, 217, 46);
  --text-color: cornsilk;
  --main-bg-color: rgba(32, 33, 48, 0.8);
  --secondary-bg-color: rgba(21, 22, 41, 0.8);
  --box-color: rgba(255, 255, 255, 0.2);
}
